<f:layout name="Minimal"/>

<f:section name="Header">
    <f:render partial="Layout/Header/AdditionalCss" arguments="{_all}" />
</f:section>

<f:section name="Title">
    Passwort zurücksetzen
</f:section>

<f:section name="Content">
    <f:form action="saveNewPassword" object="{account}" objectName="account" method="post" id="formLogin" class="form-signin middleOfScreen">
        <div class="container">
            <div class="card card-container">
                <img id="profile-img" class="profile-img-card" src="{f:uri.resource(path:settings.Layout.Icons.PasswordIcon.path)}" />
                <p id="profile-name" class="profile-name-card">{settings.Layout.ApplicationName}</p>
                <form class="form-signin">
                    <f:render partial="Layout/FlashMessages" arguments="{_all}"/>
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="password" id="password1" placeholder="Passwort" required autofocus class="form-control" name="newPassword">
                    <input type="password" id="password2" placeholder="Passwort wiederholen" required class="form-control" name="newPasswordDuplicate">
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ändern</button>
                </form><!-- /form -->

                <f:link.action controller="Authentication" action="login" class="forgot-password" arguments="{username:username}">
                    Anmelden?
                </f:link.action>
            </div>
        </div>
    </f:form>
</f:section>